<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.data.meta.title }}</title>
{% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{{ I18n_Headers }}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}

{% include open-graph.html %}

<!-- Webmaster Tools verfication -->
{% if site.owner.google.verify %}<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}
{% if site.owner.bing-verify %}<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">{% endif %}
{% if site.owner.yandex.verify %}<meta name="yandex-verification" content="{{ site.owner.yandex.verify }}">{% endif %}

<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.data.meta.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
<!-- Webfonts -->
<script src="https://use.edgefonts.net/source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9;source-code-pro:n4,n7;volkhov.js"></script>

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
  <script src="{{ site.url }}/assets/js/vendor/html5shiv.min.js"></script>
  <script src="{{ site.url }}/assets/js/vendor/respond.min.js"></script>
<![endif]-->

<!-- Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>

{% if site.mathjax == true %}
<!-- MathJax -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

<!-- ****** faviconit.com favicons ****** -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/images/favicon/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="/images/favicon/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/images/favicon/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16.png">
<link rel="apple-touch-icon" href="/images/favicon/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/images/favicon/favicon-144.png">
<meta name="msapplication-config" content="/browserconfig.xml">
